.b1{
    background-image: url("../images/1.");
}
.b2{
    background-image: url("../images/1.png");
}
.theatre_div
{
    width:500px;
    height: 500px;
}
.b3{
    background-image: url("../images/theatre1.jpg");
}
#movie_title
{
    text-align: center;
}
#rs1
{
    display: none;
}
#rs2
{
    display: none;
}